{% extends 'base.html' %}

{% block title %}
    Log In
{% endblock title %}

{% block content %}
<div class="container">
        <div class="d-flex justify-content-center">
            <span class="border border-secondary rounded mx-2 my-4 px-5 py-3">
                <form method="POST" class="form-login">
                    {{ form.hidden_tag() }}
                    <h3 class="text-center text-dark mt-4 mb-4">Log In</h3>

                    <div class="form-group justify-content-center text-dark mb-1">
                        {{ form.email_address.label() }}
                        {{ form.email_address(class="form-control", placeholder="Email Address") }}
                        <br>
                        {{ form.password.label() }}
                        {{ form.password(class="form-control", placeholder="Password") }}
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm d-flex justify-content-center">
                                {{ form.submit(class="btn btn-dark") }}
                            </div>
                        </div>
                    </div>
                    <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm d-flex justify-content-center">
                                    <a class="align-middle text-dark text-decoration-none" href="{{ url_for('users.register') }}">Need an account? Register</a>
                                </div>
                            </div>
                        </div>
                </form>
            </span>
        </div>
    </div>
{% endblock content %}